.wrapper{
  min-height: 100vh;
}
.nav{
  background-color: rgb(44, 44, 206);
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.navtext{
  font-weight: bold;
  color: white;
}
.footer{
  background-color: grey;
  padding: 2px;
  text-align: center;
  color: white;
}
.maincontainer{
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.commonButton{
  background-color: rgb(103, 130, 248);
  color: white;
  border-radius: 5%;
  border: rgb(103, 130, 248);
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.commonButton:hover{
  background-color: darkblue;
  cursor: pointer;
  
}
.questionContainer{
  box-shadow: var(--lightShadow);
  height: 80vh;
  border-radius: 5px;
  margin-left: 5px;
}
.commonBoxShadow{
  box-shadow: var(--lightShadow);
  border-radius: 5px;
}
.questionStatus{
  margin-left: 15px;
}
.questionMainData{
  display: flex;
}