.wrapper{
  min-height: 100vh;
  max-height: 100vh;
}
.nav{
  background-color: rgb(44, 44, 206);
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.navtext{
  font-weight: bold;
  color: white;
}
.footer{
  background-color: grey;
  padding: 2px;
  text-align: center;
  color: white;
  margin-top: 7px;
}
.maincontainer{
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 5px;
  margin-right: 3px;
}
.commonButton{
  width: 9rem;
  background-color: rgb(103, 130, 248);
  color: white;
  border-radius: 4%;
  border: rgb(103, 130, 248);
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.commonButton:hover{
  background-color: darkblue;
  cursor: pointer;
  
}
.questionContainer{
  box-shadow: var(--lightShadow);
  height: 80vh;
  border-radius: 5px;
  margin-left: 5px;
  display: grid;
  grid-template-rows: .1fr .1fr;
}
.commonBoxShadow{
  box-shadow: var(--lightShadow);
  border-radius: 5px;
}
.questionStatus{
  margin-left: 15px;
  display: grid;
  grid-template-rows: 0fr 1fr .7fr;
  padding: 2px;
}
.questionMainData{
  display: flex;
}
.questionContainerTop{
  display: flex;
  justify-content: space-between;
  background-color: rgb(103, 130, 248);
  color: white;
  padding: 5px;
}
.topLine{
  color: blue;
  display: flex;
  font-weight: bold;
}
.topLine span, .questionInstruction, .questionWithOptions{
  
  flex: 50%;
  box-shadow: .5px .5px 0px 0px rgba(0,0,0,0.2);
  padding: 2px;
}

.questionDesc{
  height: 150px;
  padding: 10px;
  box-shadow: 0px .5px 0px 0px rgba(0,0,0,0.2);
}
.inputOuter{
  height: 60px;
  padding: 10px;
  box-shadow: 0px .5px 0px 0px rgba(0,0,0,0.2); 
}
.lightBlueBackground{
  background-color: lightblue;
}
.selectMenu{
  outline: none;
}
.questionPallete{
  margin-top: 15px;
  margin-bottom: 15px;
}
.candidateImage{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  margin: 4px;
}
.imageAndTime{
  display: flex;
  padding: 3px;
}
.PalleteTop, .legendTop{
  background-color: rgb(103, 130, 248);
  color: white;
  padding: 3px;
}
.legendOuter{
  display: grid;
  grid-template-rows: 0fr .3fr 0fr 0fr;
}
.legendInfo{
  display: grid;
  grid-template-columns: auto auto;
}
.legendAnswer{
  background-color: rgb(62, 253, 62);
}
.legendNoAnswer{
  background-color: rgb(250, 117, 41);
}
.legendPlusAnswer{
  background-color: rgb(148, 141, 235);
}
.legendMinusAnswer{
  background-color: rgb(219, 228, 95);
}
.legendDump{
  background-color: rgb(151, 151, 148);
}
.legendNoVisit{
  background-color: rgb(233, 233, 232);
}

.legendAnswer, .legendNoAnswer, .legendPlusAnswer, .legendMinusAnswer, .legendDump, .legendNoVisit{
  color: black;
  padding: 4px;
  margin: 1px;
  cursor: pointer;
}
.AllQuestions{
  margin-top: 1px;  
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(103, 130, 248);
}
.legendBottom{
  border-top: 1px solid white;
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
}
.legendButton{
  background-color: rgb(103, 130, 248);
  color: white;
  border-radius: 4%;
  border: rgb(103, 130, 248);
  margin: 2px;
  height: 25px;
  cursor: pointer;
}
.palleteButtonsOuter{
  display: flex;
}
.palleteButton{
  flex: 20%;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
}